#spirit-list{
  max-width: 1800px;
  margin: auto;
    img{
        height: 100%;
        width: auto;
    }
    .spirit-head {
        background: #000;
        color: white;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 0;
        .spirit-type {
            position: absolute;
            width: 50px;
            height: 50px;
            left: -10px;
            top: -10px;
            border-radius: 50%;
            background-size: 50px;
        }
        .spirit-type~.material-icons {
            font-size: 14px;
            margin-top: 3px;
            color: yellow;
        }
        .spirit-type+.material-icons {
            margin-left: 40px
        }
        .spirit-type.attack {
            background: red;
            // background-image: url(../../../src/assets/img/attack-icon.svg);
        }
        .spirit-type.shield {
            background: blue;
        }
        .spirit-type.grab {
            background: green;
            // background-image: url(../../../src/assets/img/grab-icon.svg);
        }
        .material-icons {
            font-size: 14px;
            margin-top: 3px;
        }
    }
    .spirit-foot {
        position: absolute;
        bottom: 40px;
        width: 100%;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        padding: 5px;
        .spirit-slots {
          position: absolute;
          right: 4px;
          top: -22px;
          max-width: 25px;
          background: black;
          padding: 5px 5px 0 5px;
          border-radius: 15px 0 0 0;
        }
        #slot-2 {
          top: -38px;
        }
        #slot-3 {
          top: -58px;
        }
    }
}
.spirit-slot-svg {
  float: right;
}
mat-grid-tile {
    border-style: solid;
    border-width: 2px 2px 0 2px;
    transition: transform 0.20s ease;
}
mat-grid-tile:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

